@import url('./xy-theme.css');

html,
body {
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

#app {
  width: 100vw;
  height: 100vh;
}

.customNodeBody {
  width: 150px;
  height: 60px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

div.customHandle {
  width: 100%;
  height: 100%;
  background: blue;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0;
  transform: none;
  border: none;
  opacity: 0;
}

div.Entity {
  background-color: rgb(149, 170, 137);
  border-radius: 40px;
}

div.Agent {
  background-color: black;
  color: white;
  border-radius: 50%;
  width: 120px;
  height: 80px;
}

div.Activity {
  background-color: rgb(177, 148, 177);
  border-radius: 10px;
}