@import url('./xy-theme.css');

html,
body {
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

div.panelContainer {
  width: 100vw;
  height: 100vh;
}

div.leftPanel {
  height: 100%;
  width: 20%;
  float:left;
}

div.leftPanel .card {
  height: 33%;
}

div.leftPanel .card .card-header {
  border-radius: 0;
}

div.leftPanel .card .card-body {
  padding: 0;
}

div.leftPanel .card .card-body .btn {
  width: 100%;
  border-width: 0 0 1px 0;
  border-radius: 0;
}

.entities-card-header {
  background-color: rgb(149, 170, 137);
}

.activities-card-header {
  background-color: rgb(177, 148, 177);
}

.agents-card-header {
  background-color: black;
  color: white;
}

.react-flow {
  width: 80% !important;
  float:left;
}

.customNodeBody {
  width: 175px;
  height: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

div.customHandle {
  width: 100%;
  height: 100%;
  background: blue;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0;
  transform: none;
  border: none;
  opacity: 0;
}

div.Entity {
  background-color: rgb(149, 170, 137);
  border-radius: 40px;
}

div.Agent {
  background-color: black;
  color: white;
  border-radius: 50%;
  width: 150px;
  height: 80px;
}

div.Activity {
  background-color: rgb(177, 148, 177);
  border-radius: 10px;
}